# Packages
node_modules/

# Lockfiles
yarn.lock
package-lock.json

# Environmental variables
/.env

# ESLint configuration files
.eslintrc.js
.eslintrc.cjs
.eslintrc.yaml
.eslintrc.yml
.eslintrc.json
