/* Global styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;

  background-color: #3e3e3e;
  color: #d4d4d4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.01em;
}

html,
body {
  height: 100%;
  width: 100%;
}


/* Certain elements styles */
h3 {
  color: #00ea75;
  font-size: 1.2em;
}

h4 {
  color: #ff9664;
}

a {
  color: #00c6c6;
}

a:hover {
  color: #009d9d;
}