/* Variables */
:root {
  --text-color: #d4d4d4;
  --bg-color: #3e3e3e;
  --alt-bg-color: #494949;
  --spoiler-color: #747474;
}


/* Global styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;

  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Verdana, Helvetica, sans-serif;
  font-size: 1.01em;
}

html,
body {
  height: 100%;
  width: 100%;
}


/* Certain elements styles */
h3 {
  color: #00ea75;
  font-size: 1.2em;
}

h4 {
  color: #ff9664;
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin-top: 10px;
}

q {
  font-style: italic;
}

a {
  color: #00c6c6;
}

a:hover {
  color: #009d9d;
}

span.spoiler {
  color: var(--spoiler-color);
  background-color: var(--spoiler-color);
  padding: 2px;
  border-radius: 2px;
}

span.spoiler:hover {
  color: #fff;
}


/* Header styles */
header#page-header {
  width: 80%;
  margin: 0 10% 2%;

  padding: 2%;
  padding-left: 0;
}

div#page-name {
  font-size: 2em;
}


/* Content styles */
div.content {
  margin-left: 10%;
  padding: 1%;
}

div.content-alongside {
  width: 55%;
  float: left;
}

div.content-allpage {
  width: 80%;
}

div.content h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.content h3.content-heading {
  margin-top: 25px;
  margin-bottom: 25px;
}

div.content h4 {
  margin-left: 10px;
}

div.content img {
  margin: 10px;
  max-width: calc(100% - 20px);
}

div.content img.reaction {
  max-width: 25%;
  max-height: 200px;
}

div.content pre.code-listing {
  color: #ffffff;
  font-family: 'Consolas', monospace;
  font-size: 0.9em;

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

  margin: 10px 0 10px;
  padding: 10px;

  background-color: #646464;
  border-radius: 15px;
}


/* Index page specific styles */
img#index-image {
  width: 36%;
  margin-left: 10px;
  border-radius: 5px;

  float: right;
}

/* Index links styles */
aside#index-links {
  width: 20%;
  margin-left: 3%;

  padding: 1%;

  background-color: var(--alt-bg-color);
  border-radius: 5px;
  font-size: 1.1em;

  float: left;
}

aside#index-links h3 {
  margin-bottom: 5px;
}

aside#index-links img {
  width: 20px;
  margin-right: 5px;
  height: auto;
}

aside#index-links div.links {
  font-size: 1.15em;
  margin-left: 30px;
}

aside#index-links * {
  background-color: inherit;
}


/* Posts styles */
div.post-container {
  width: calc(95% - 5px);
  padding: 5px;
  padding-left: 5%;
  margin-bottom: 30px;

  border-left: 3px solid silver;
  border-radius: 3px;

  font-size: 1.1em;
}

div.post-container p.post-date {
  margin-top: 10px;

  font-size: .9em;
  color: #9f9f9f;
}


/* Post text formatting styles */
div.formatting-panel button {
  margin-right: 5px;
}


/* Posting form styles */
form input {
  padding: 5px;
  margin: 5px 0 10px;

  color: #000;
  background-color: #FFF;

  border: 2px solid silver;
  border-radius: 10px;
}

form button {
  padding: 5px;
  margin: 5px 0 10px;

  color: #000;
  background-color: #FFF;

  border: 2px solid silver;
  border-radius: 10px;
}

form button:hover {
  cursor: pointer;
  background-color: #aaaaaa;
}

form textarea {
  padding: 5px;
  margin: 5px 0 10px;

  color: #000;
  background-color: #FFF;

  border: 2px solid silver;
  border-radius: 10px;

  resize: none;
}

form span#posting-message {
  margin: 10px;
}


/* Not found page styles */
img#not-found-img {
  height: 400px;
  width: auto;
}


/* Optimization for mobile phones */
@media only screen and (max-width: 700px) {
  header#page-header {
    width: 90%;
    margin: 0 5% 2%;
  }

  div.content-alongside,
  aside#index-links {
    width: 90%;
    margin-left: 5%;
    float: none;
  }

  aside#index-links {
    margin: 20px 5% 20px;
  }

  div.content-allpage {
    width: 90%;
    margin-left: 5%;
  }

  img#index-image {
    width: 60%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  div.content img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  div.content img.reaction {
    max-width: 70%;
    max-height: 160px;
  }
}
