/* Variables */
:root {
  --text-color: #d4d4d4;
  --bg-color: #3e3e3e;
  --alt-bg-color: #494949;
  --spoiler-color: #747474;
}


/* Global styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;

  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Verdana, Helvetica, sans-serif;
  font-size: 1.01em;
}

html,
body {
  height: 100%;
  width: 100%;
}


/* Certain elements styles */
h3 {
  color: #00ea75;
  font-size: 1.2em;
}

h4 {
  color: #ff9664;
}

a {
  color: #00c6c6;
}

a:hover {
  color: #009d9d;
}

span.spoiler {
  color: var(--spoiler-color);
  background-color: var(--spoiler-color);
}

span.spoiler:hover {
  color: #fff;
}


/* Header styles */
header#page-header {
  width: 80%;
  margin: 0 10% 2%;

  padding: 2%;
  padding-left: 0;
}

div#page-name {
  font-size: 2em;
}


/* Content styles */
div.content {
  margin-left: 10%;
  padding: 1%;
}

div.content-alongside {
  width: 55%;
  float: left;
}

div.content-allpage {
  width: 80%;
}

div.content h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.content h3.content-heading {
  margin-top: 25px;
  margin-bottom: 25px;
}

div.content pre.code-listing {
  color: #ffffff;
  font-family: 'Consolas', monospace;
  font-size: 0.9em;

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

  margin: 10px 0 10px;
  padding: 10px;

  background-color: #646464;
  border-radius: 15px;
}


/* Index page specific styles */
img#index-image {
  width: 36%;
  margin-left: 10px;
  border-radius: 5px;

  float: right;
}

/* Index links styles */
div#index-links {
  width: 20%;
  margin-left: 3%;

  padding: 1%;

  background-color: var(--alt-bg-color);
  border-radius: 5px;
  font-size: 1.1em;

  float: left;
}

div#index-links h4 {
  margin-left: 20px;
  margin-top: 10px;
}

div#index-links img {
  width: 20px;
  margin-right: 5px;
  height: auto;
}

div#index-links div#links {
  font-size: 1.15em;
  margin-left: 50px;
}

div#index-links * {
  background-color: inherit;
}


/* Optimization for mobile phones */
@media only screen and (max-width: 700px) {
  div.content-alongside,
  div#index-links {
    width: 80%;
    float: none;
  }

  div#index-links {
    margin: 20px 10% 20px;
  }
}


/* Posts styles */
div.content div.post-container {
  width: calc(100% - 3px);
  padding: 5px;
  padding-left: 5%;
  margin-bottom: 30px;

  border-left: 3px solid silver;
  border-radius: 3px;

  font-size: 1.1em;
}

div.content div.post-container p.post-date {
  margin-top: 10px;

  font-size: .9em;
  color: #9f9f9f;
}


/* Post text formatting styles */
.formatting-panel button {
  margin-right: 5px;
}


/* Posting form styles */
form input {
  padding: 5px;
  margin: 5px 0 10px;

  color: #000;
  background-color: #FFF;

  border: 2px solid silver;
  border-radius: 10px;
}

form button {
  padding: 5px;
  margin: 5px 0 10px;

  color: #000;
  background-color: #FFF;

  border: 2px solid silver;
  border-radius: 10px;
}

form button:hover {
  cursor: pointer;
  background-color: #aaaaaa;
}

form textarea {
  padding: 5px;
  margin: 5px 0 10px;

  color: #000;
  background-color: #FFF;

  border: 2px solid silver;
  border-radius: 10px;

  resize: none;
}

form span#posting-message {
  margin: 10px;
}
