extends layout

block content
  .content.content-allpage
    form#posting-form(action="/api/blog", method="post")
      label(for="posting-heading") Heading:
      br
      input#posting-heading(type="text", name="heading", required)
      br

      p Formatting:
      .formatting-panel
        button#format-bold Bold
        button#format-italic Italic
        button#format-spoiler Spoiler

      label(for="posting-text") Post text:
      br
      textarea#posting-text(name="text", cols="50", rows="10", required)
      br

      label(for="posting-password") API password:
      br
      input#posting-password(type="password", name="password", required)
      br

      button#posting-submit(type="submit") Post
      span#posting-message

  script(lang="javascript", src="/javascript/formatting_script.js")
  script(lang="javascript", src="/javascript/post_script.js")
