extends layout

block content
  .content.content-allpage
    each post in posts
      .post-container
        h3!= `<a href="/blog/post/${post.url}">${post.heading}</a>`
        p= post.text
        p.post-date= post.date

    h3.content-heading
      a(href="/") Return to homepage