extends layout

block content
  .content.content-allpage
    each post in posts
      .post-container
        h3!= `<a href="/blog/post/${post.url}">${post.heading}</a>`
        p= post.text
        p.post-date= post.date
    else
      p And blood-black #[b #[i nothingness]] began to spin
        br
        | A system of cells interlinked within
        br
        | Cells interlinked within cells interlinked
        br
        | Within one stem. And dreadfully distinct
        br
        | Against the dark, a tall white fountain played.
      br
      h3 Nothing to see here..

    h3.content-heading
      a(href="/") Return to homepage