extends layout

block content
  .content.content-alongside
    h3 Welcome!
    img#index-image(src="/images/tomoko.gif", alt="Tomoko")
    p I'm m3tro1d, and this is my personal homepage.
    br
    p I created this website for practice. Stay tuned for updates!
    br

    h3.content-heading Recent blog posts
    ul
      each post in recent_posts
        li!= `${post.date} - <a href="/blog/post/${post.url}">${post.heading}</a>`
      else
        li An unexpected error occured.. Stay tuned.
    br
    p Check out #[a(href="/blog") blog index] for the rest.
    br

    h3.content-heading About
    ul
      li The #[a(href="/software") software] I use.

  aside#index-links
    h3 Links:

    h4 Content:
    .links
      a(href="https://github.com/m3tro1d" target="_blank")
        img(src="/images/github_logo.png", alt="Github")
        | Github

    h4 Personal:
    .links
      a(href="https://twitter.com/t_m3tro1d" target="_blank")
        img(src="/images/twitter_logo.png", alt="Twitter")
        | Twitter
