extends layout

block content
  .content.content-allpage
    h1 This page doesn't seem to exist...
    img#not-found-img(src="/images/not_found_img.png", alt="404 Not Found", title="404 Not Found Komi-san")