extends layout

block content
  .content.content-allpage
    .post-container
      h3= post.heading
      p  !{post.text}
      p.post-date= post.date

    h3.content-heading
      a(href="/blog") Return to blog index

    h3.content-heading
      a(href="/") Return to homepage
