extends layout

block content
  .content.content-allpage
    p Take a look at my batch scripts. Some of them were made entirely by me, the others are just my implementation of bash scripts in batch.
    