extends layout

block content
  .content.content-allpage
    img(src="/images/pages/windows.jpg" alt="Have a look" title="I lol'd")
    p Here you can take a look on a list of software, that I use all the time. Also I'll give recommendations on certain software.

    h3.content-heading Operating System
    p I use #[b Windows 10], and I know it's not very good. You can't fully control this OS, not even saying about built-in telemetry (which you can turn off though). I really want to switch to Linux, but I'm not sure if I will like it. I tried installing several distros on virtual machine, but once I tried it with my computer and accidentally deleted all my personal files (sad but true :( ). Yeah, I was quite a noob back then. Also, I want to play vidya, this is why I use Windows. (I hope some day I'll cut on the vidya and switch to Linux).

    h3.content-heading Text editing and programming
    p One editor to rule them all, #[b Vim] itself. I also tried Emacs and even wrote my own config file, but Vim is my all-time favorite. After all, I need a text editor, not an OS.

    h3.content-heading Web browser
    p I use #[b firefox] because of a vast opportunities for customization. Especially, with custom user.js (if you're interested be sure to check #[a(href="https://github.com/arkenfox/user.js") this] out). I've done a lot of browser-hopping, so I think I'll stick to firefox from now.

    h3.content-heading File manager
    p I really like the old-school #[b Far Manager]. It is #[i far] more powerful and lightweight than TC, but the only thing it lacks is thumbnail mode.

    h3.content-heading Mail client
    p #[b Web client] is enough for almost everyone. If you use multiple accounts though, it'll be more convenient to use a mail client, like Thunderbird.

    h3.content-heading Music player
    p #[b Foobar2000] is my choice. It is extremely customizable and can be pretty good-looking if you put enough effort in finding and installing a proper theme. Also it has nice built-in tools like converter and tag editor.

    h3.content-heading Video player
    p #[b mpv] is the only player you'll ever need. It has two essential features that are critical to me: it's customizable and minimalistic. If you put enough effort in customizing, it shall become very powerful and comfortable to use.

    h3.content-heading Torrent client
    p #[b qBittorrent]. It's a pretty simple, lightweight torrent client with the ability to group the downloads and tag them.

    h3.content-heading Video and audio editing
    p #[b FFmpeg]. Simple and useful CLI tool, that has all the functions that I need. Crop, change resolution or re-encode the files. For complex sound manipulations I prefer Audacity.

    h3.content-heading PDF viewer
    p #[b SumatraPDF]. Nice and extremely minimalistic viewer. Nuff said.

    h3.content-heading Image viewer
    p #[b JPEGView]. Fast and nice image viewer, supports all the formats that I face. It uses a handy config file with all the information needed to configure it to your needs.

    h3.content-heading
      a(href="/") Return to homepage
