extends layout

block content
  .content.content-allpage
    p Here you can take a look on a list of software, that I use all time. Also I'll give recommendations on certain software.

    h3.content-heading Operating System
    p I use #[b Windows 10], and I know it's not very good. You can't fully control this OS, not even saying about built-in telemetry (which you can turn off though). I really want to switch to Linux, but I'm not sure if I will like it. I tried installing several distros on virtual machine, but once I tried it with my computer and accidentally deleted all my personal files (sad but true :( ). Also, I want to play vidya, this is why I use Windows. (I hope some day I'l cut on the vidya and switch to Linux).

    h3.content-heading Text editing and programming
    p For general purposes, I use #[b Vim]. I also tried Emacs and wrote my own config file, but Vim is my all-time favorite, because I really like using vim modes. But for big projects I prefer to use Visual Studio Code, because it's easier to organize the project structure.

    h3.content-heading Web browser
    p My choice is #[b Firefox]. Highly customizable, lots of extensions and it's pretty fast. Nuff said. Alternatively, I use ungoogled chromium to test my HTML markup.

    h3.content-heading File manager
    p For general purposes, I use #[b Far Manager]. It has a two-panel interface, like good'ol Total Commander, but it's free, open-source and highly customizable.

    h3.content-heading Mail client
    p Default #[b Windows 10 mail client] ¯\_(ツ)_/¯. It's kinda useful, good-looking and comes free with the windows distribution. Mail client is not so essential for me, I can use web mail client too.

    h3.content-heading Music player
    p #[b Foobar2000] is my choice. It is extremely customizable and can be pretty good-looking if you put enought effort in finding and installing the proper skin. Also it has nice built-in tools like converter and tag editor.

    h3.content-heading Video player
    p #[b MPC-HC]. It has a pretty classic interface and supports a wide range of formats. To play a small single file without leaving the terminal, I use mpv.

    h3.content-heading Torrent client
    p #[b qBittorrent]. It's pretty simple, lightweight torrent client with the ability to group the downloads and tag them.

    h3.content-heading Video and audio editing
    p #[b FFmpeg]. Simple and useful CLI tool, that has all the functions that I need. Crop, change resolution or re-encode the files. For difficult sound manipulations I prefer Audacity.

    h3.content-heading PDF viewer
    p #[b SumatraPDF]. Nice and extremely minimalistic viewer.

    h3.content-heading Image viewer
    p #[b IrfanView]. Fast and nice image viewer, supports all the formats that I face.

    h3.content-heading
      a(href="/") Return to homepage
