extends layout

block content
  .content.content-allpage
    img.reaction(src='/images/pages/c_pr_reading.jpg' alt="Reading K&R" title="Learning intensifies")

    p Here you can read some of my thoughts, preferences and some cool stuff about Vim. You can find my Vim config files right #[a(href="https://github.com/m3tro1d/dotfiles") here].
    p (Click on the gif to watch it from the beginning)

    h3.content-heading How I got into Vim
    p I was seeing quite a lot of memes on 'how to exit Vim', and that's what got my attention at first. I looked up some articles and watched a couple of videos on YouTube, and holy shit, I was amazed. I have rushed through the Vim tutor and even read two books on Vim and the so-called Vimway. As you can see, I have embraced it fully.

    h3.content-heading Wow, you look like a religious fanatic, dude
    p That's what you might think. For most people using Vim is a hobby. #[i A very productive and profitable hobby if I may say.] If you don't like it &mdash; fine, just don't use it. Actually, every hobby can be called like that, so I don't really pay attention to this.

    h3.content-heading Why not Emacs ಠಿ_ಠ
    p I really like Emacs, oh sure I do. I wrote my own configuration file, I was practicing with it for a while. Emacs is a great tool, but it has a #[i different nature]. Like the saying goes, 'you can do everything in Emacs'. Well I simply don't need this. All I need is fast and comfortable text and code editing and #[i some] integrations (like git). Oh, and Vim script is far more simpler than Emacs lisp in my opinion.

    h3.content-heading Watch the magic happen
    p Some really cool Vim features that I especially like.

    img.reaction(src="/images/pages/akarin.jpg" alt="Let's go!" title="What? An empty picture?!")

    h4 Customization
    p I have #[b 423] lines in my Vim config right now (3 Feb 2021). Isn't that a little too many? Nah. I assure you, if you're into customization and tweaking, you will configure the shit our of your Vim. It's only natural&hellip;

    h4 Macros
    a(href="/images/pages/vim_macros.gif" target="_blank")
      img(src="/images/pages/vim_macros.gif" alt="Vim macros" title="Automate boring stuff!")
    p Text editing can be boring from time to time. So why not automate it?

    h4 Features without bloat
    p Vim has a spell checking system, compiler integration, mappings, macros, plugin support, Python (also Lua, Node.js and Ruby) integration (in Neovim), windows, tabs and much more. And with all of that it's still lightweight! Not as lightweight as Nano, but still :)

    h4 Plugins
    p Vim isn't Vim without the plugins! Let's take a look at few.

    h4 UltiSnips snippets
    a(href="/images/pages/vim_function_snippet.gif" target="_blank")
      img(src="/images/pages/vim_function_snippet.gif" alt="Vim function snippet" title="Magic itself")
    p This is a snippet that's possible thanks to #[a(href="https://github.com/SirVer/ultisnips") this] wonderful plugin. It automatically manages the parentheses when creating an ES6 javascript function. Isn't this cool? Do you know what makes it twice as cool? It is written in the good ol' python.

    h4 Fugitive (also vim-commentary, vim-surround and vim-repeat)
    p #[a(href="https://github.com/tpope/vim-fugitive") This] is the most genius Vim plugin I have ever seen. Generally speaking, Tim Pope's plugins are so natural that I think they should be built-in in Vim. Staging, git objects viewing, amazing diff comparison between blobs and for merge conflict resolving. Check #[a(href="http://vimcasts.org/blog/2011/05/the-fugitive-series/") this] out if you want to unleash fugitive to it's full power.
    p Want more? #[a(href="https://github.com/tpope/vim-commentary") Check] #[a(href="https://github.com/tpope/vim-surround") them] #[a(href="https://github.com/tpope/vim-repeat") out].

    h4 Emmet
    p Emmet is all-time classic. #[a(href="https://github.com/mattn/emmet-vim") Vim has it too!] Looks like Vim is the same as VS Code, Sublime Text, or Brackets? Wrong. #[span.spoiler It's much better :)]

    h4 Vimwiki
    p Got used to Emacs' org-mode? Well, there's an alternative in Vim called #[a(href="https://github.com/vimwiki/vimwiki") Vimwiki]. And it's pretty darn good if I may say. Just plain markdown notes with navigation and diary feature, nothing unnecessary.

    h3.content-heading Why you should get into Vim
    p The answer is simple &mdash; #[b you shouldn't, unless you are willing to]. Vim is surely a powerful tool, but it requires a certain amount of practice and tunning of your mindset when editing text or code.
    img.reaction(src="/images/pages/serves_you_right.jpg" alt="Serves you right!" title="This is what Vim is all about")

    h3.content-heading
      a(href="/") Return to homepage
